.column_1 {width: 2%;}
.column_2 {width: 4%;}
.column_3 {width: 6%;}
.column_4 {width: 8%;}
.column_5 {width: 10%;}
.column_6 {width: 12%;}
.column_7 {width: 14%;}
.column_8 {width: 16%;}
.column_9 {width: 18%;}
.column_10 {width: 20%;}
.column_11 {width: 22%;}
.column_12 {width: 24%;}
.column_13 {width: 26%;}
.column_14 {width: 28%;}
.column_15 {width: 30%;}
.column_16 {width: 32%;}
.column_17 {width: 34%;}
.column_18 {width: 36%;}
.column_19 {width: 38%;}
.column_20 {width: 40%;}
.column_21 {width: 42%;}
.column_22 {width: 44%;}
.column_23 {width: 46%;}
.column_24 {width: 48%;}
.column_25 {width: 50%;}
.column_26 {width: 52%;}
.column_27 {width: 54%;}
.column_28 {width: 56%;}
.column_29 {width: 58%;}
.column_30 {width: 60%;}
.column_31 {width: 62%;}
.column_32 {width: 64%;}
.column_33 {width: 66%;}
.column_34 {width: 68%;}
.column_35 {width: 70%;}
.column_36 {width: 72%;}
.column_37 {width: 74%;}
.column_38 {width: 76%;}
.column_39 {width: 78%;}
.column_40 {width: 80%;}
.column_41 {width: 82%;}
.column_42 {width: 84%;}
.column_43 {width: 86%;}
.column_44 {width: 88%;}
.column_45 {width: 90%;}
.column_46 {width: 92%;}
.column_47 {width: 94%;}
.column_48 {width: 96%;}
.column_49 {width: 98%;}
.column_50 {width: 100%;}